In [1]:
from sklearn.feature_extraction.text import CountVectorizer
msg = ['A quick brown fox jumps over the lazy dog.']

In [2]:
cvect = CountVectorizer(ngram_range=(1,1))
output = cvect.fit_transform(msg)
output.toarray()

array([[1, 1, 1, 1, 1, 1, 1, 1]], dtype=int64)

In [3]:
cvect.vocabulary_

{'quick': 6,
 'brown': 0,
 'fox': 2,
 'jumps': 3,
 'over': 5,
 'the': 7,
 'lazy': 4,
 'dog': 1}

In [4]:
cvect2 = CountVectorizer(ngram_range=(2,2))
cvect2.fit_transform(msg).toarray()

array([[1, 1, 1, 1, 1, 1, 1]], dtype=int64)

In [5]:
cvect2.vocabulary_

{'quick brown': 5,
 'brown fox': 0,
 'fox jumps': 1,
 'jumps over': 2,
 'over the': 4,
 'the lazy': 6,
 'lazy dog': 3}

In [6]:
msg2 = ['I work at google.', 'I google at work.']

In [7]:
cvect.fit_transform(msg2).toarray()

array([[1, 1, 1],
       [1, 1, 1]], dtype=int64)

In [8]:
cvect.vocabulary_

{'work': 2, 'at': 0, 'google': 1}

In [9]:
cvect12 = CountVectorizer(ngram_range=(1,2))
cvect12.fit_transform(msg2).toarray()

array([[1, 1, 0, 1, 0, 1, 1],
       [1, 0, 1, 1, 1, 1, 0]], dtype=int64)

In [10]:
cvect12.vocabulary_

{'work': 5,
 'at': 0,
 'google': 3,
 'work at': 6,
 'at google': 1,
 'google at': 4,
 'at work': 2}

In [11]:
import pandas as pd
keys = cvect12.vocabulary_.keys()
keys

dict_keys(['work', 'at', 'google', 'work at', 'at google', 'google at', 'at work'])

In [12]:
sorted(cvect12.vocabulary_.items())

[('at', 0),
 ('at google', 1),
 ('at work', 2),
 ('google', 3),
 ('google at', 4),
 ('work', 5),
 ('work at', 6)]

In [13]:
keys = [key for key, val in sorted(cvect12.vocabulary_.items())]
keys

['at', 'at google', 'at work', 'google', 'google at', 'work', 'work at']

In [14]:
cvect12.fit_transform(msg2).toarray()

array([[1, 1, 0, 1, 0, 1, 1],
       [1, 0, 1, 1, 1, 1, 0]], dtype=int64)

In [15]:
df = pd.DataFrame(cvect12.fit_transform(msg2).toarray(), columns=keys)
df.index = msg2
df

                   at  at google  at work  google  google at  work  work at
I work at google.   1          1        0       1          0     1        1
I google at work.   1          0        1       1          1     1        0

In [16]:
msg3 = ['I work at google.', 'I google at work.', 'I google at google.']
output = cvect12.fit_transform(msg3).toarray()
keys = sorted(cvect12.vocabulary_.keys())

In [17]:
df = pd.DataFrame(output, columns=keys, index=msg3)
df

                     at  at google  at work  google  google at  work  work at
I work at google.     1          1        0       1          0     1        1
I google at work.     1          0        1       1          1     1        0
I google at google.   1          1        0       2          1     0        0

- TfidfVectorizer

In [18]:
from sklearn.feature_extraction.text import TfidfVectorizer
tvect12 = TfidfVectorizer(ngram_range=(1,2))
msg3 = ['I work at google.', 'I google at work.', 'I google at google.']

In [19]:
output = tvect12.fit_transform(msg3).toarray()
keys = sorted(tvect12.vocabulary_.keys())
dft = pd.DataFrame(output, columns=keys, index=msg3)
dft

,at,at google,at work,google,google at,work,work at
I work at google.,0.349578,0.450145,0.000000,0.349578,0.000000,0.450145,0.591887
I google at work.,0.349578,0.000000,0.591887,0.349578,0.450145,0.450145,0.000000
I google at google.,0.346766,0.446524,0.000000,0.693532,0.446524,0.000000,0.000000