# 리스트

- append

In [3]:
sq_list = []
for i in range(10):
    sq_list.append(i*i)
print(sq_list)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
# 리스트 표현식
a = [i for i in range(5)]
a

[0, 1, 2, 3, 4]

In [5]:
sq_list = [i*i for i in range(10)]
sq_list

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
# 1에서 10까지 홀수의 제곱 리스트, 단, range(1,11,2)를 사용하지 말 것
odd_sq = [i*i for i in range(11) if i % 2 == 1]
odd_sq

[1, 9, 25, 49, 81]

- 특정값의 인덱스 찾기

In [7]:
odd_sq.index(25)

2

In [8]:
for num in odd_sq:
    print(num)

1
9
25
49
81

In [9]:
for index, num in enumerate(odd_sq):
    print(f'{index} - {num}')

0 - 1
1 - 9
2 - 25
3 - 49
4 - 81

In [11]:
val = 25
for index, num in enumerate(odd_sq):
    if num == val:
        print(index)

2

- 할당과 복사

In [12]:
a = [1,2,3,4,5]
b = a
b[2] = 300
b

[1, 2, 300, 4, 5]

In [13]:
a

[1, 2, 300, 4, 5]

In [14]:
x = 5
y = x
y = 100
x

5

In [15]:
c = a.copy()
c[2] = 3
c

[1, 2, 3, 4, 5]

In [16]:
a

[1, 2, 300, 4, 5]

- 리스트의 합

In [17]:
sum(odd_sq)

165

In [18]:
sum = 0
for i in range(1,101):
    sum += i
print(sum)

5050

In [19]:
# 윗 문장에서 sum 이 정수형 변수로 바뀌어서, 더이상 함수로 사용될 수 없음
sum(odd_sq)

TypeError: 'int' object is not callable

- 리스트 표현식

In [20]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [21]:
[i * k for i in range(2,4) for k in range(1,10)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 3, 6, 9, 12, 15, 18, 21, 24, 27]

- map

In [22]:
a = [1.2, 2.5, 3.7, 4.6, 7.3]
for i in range(len(a)):
    a[i] = int(a[i])
a

[1, 2, 3, 4, 7]

In [23]:
import math
a = [1.2, 2.5, 3.7, 4.6, 7.3]
for i in range(len(a)):
    a[i] = math.ceil(a[i])
a

[2, 3, 4, 5, 8]

In [29]:
# 반올림
a = [1.2, 2.5, 3.7, 4.6, 7.3]
for i in range(len(a)):
    a[i] = round(a[i])
a

[1, 2, 4, 5, 7]

In [30]:
a = [1.2, 2.5, 3.7, 4.6, 7.3]
for i in range(len(a)):
    a[i] = int(a[i]+0.5)
a

[1, 3, 4, 5, 7]

In [32]:
a = [1.2, 2.5, 3.7, 4.6, 7.3]
list(map(int, a))

[1, 2, 3, 4, 7]

In [33]:
for element in map(int, a):
    print(element)

1
2
3
4
7

In [35]:
# 두개의 정수 입력, 예) 3 4
x, y = map(int, input().split())
x, y

(3, 4)

- 리스트의 할당, copy, deepcopy

In [36]:
a = [10,20,30,40]
b = a
b[2] = 300
a

[10, 20, 300, 40]

In [37]:
b = a.copy()
b[2] = 30
b

[10, 20, 30, 40]

In [38]:
a

[10, 20, 300, 40]

In [39]:
a = [[1,2],[3,4]]
b = a.copy()
b[1][1] = 100
b

[[1, 2], [3, 100]]

In [40]:
a

[[1, 2], [3, 100]]

In [41]:
import copy
a = [[1,2],[3,4]]
b = copy.deepcopy(a)
b[1][1] = 100
a

[[1, 2], [3, 4]]